* {
    margin: 0 auto;
    padding: 0;
}
html, body {
    position: relative;
    width: 100%;
}
#main {
    position: relative;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 480px){
    .ant-back-top {
        bottom: 30%;
        right: 15px;
    }
}