#header-main-div {
    position: relative;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 60px;
    padding: 5px 120px;
}
#header-main-div.sticky {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
    animation: down 0.4s ease-out forwards;
    z-index: 999;
}
.header-img-link {
    position: relative;
    display: inline-block;
    width: auto;
    
    &:hover{
        img{
            transform: rotate(360deg);
        }
        .header-img{
            color: grey
        }
    }
}
.header-img {
    position: relative;
    display: inline-block;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    height: 45px;
    color: black;
    transition: all ease-out 1.2s;
    img {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
        transition: all ease-out 1.2s;
    }
}
.header-menu {
    display: inline-block;
    position: relative;
    right: 0;
}
.header-dropdown {
    display: inline-block;
    top: 6px;
    color: black;
    transition: all 0.4s ease-out;
    background-color: #D7D7D7;
}
.header-dropdown:active {
    color: #40a9ff;
    background-color: #f2f2f2;
}
.sl-menu-item {
    font-size: 14px;
    font-weight: bold;
}
.header-right-div {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
}
.logout {
    position: relative;
    top: -1px;
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.logout:hover::before {
    content: '登 出';
    position: absolute;
    top: 22px;
    left: 20px;
    background-color: yellow;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    animation: fadeIn 0.4s ease-in;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media ( min-width:400px ) and ( max-width: 1200px ) {
    .header-img {
        width: 120px;
        height: 45px;
    }
    #header-main-div {
        padding: 5px 40px;
    }
    
}
@media ( min-width:400px ) and ( max-width: 558px ) { 
    .loginBtn, .logout {
        top: 5px;
        margin-right: 5px;
    }
}
@keyframes down{
    0%{
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}