#banner-main-div{
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0px 40px;
    object-fit: cover;
    .banner-img {
        position: relative;
        object-fit: cover;
        height: 500px;
        
        background-position: top;
    }
}
@media (max-width:500px){
    #banner-main-div{
        position: relative;
        width: 100%;
        height: 200px;
        padding: 0px;
        .banner-img {
            position: relative;
            object-fit: cover;
            width: 120px;
            height: 200px;
            background-position: top;
        }
    }
}